@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400%;
        @apply text-white text-lg py-10 bg-fixed bg-no-repeat animate-gradient-shift;
        font-family: "Karla", sans-serif;
    }

    .avatar {
        @apply lg:w-32 md:w-1/6 w-1/4 mx-auto rounded-full;
    }

    .title {
        @apply text-center py-5;
    }

    .link-container {
        @apply md:w-1/2 w-3/4 h-14 mb-3 overflow-hidden;
        @apply flex justify-center items-center relative;
        @apply border-solid border-2 cursor-pointer;
        @apply hover:bg-white hover:text-black;
        transition: background-color 0.5s ease;
    }

    .link-container:last-child {
        @apply mb-0;
    }

    .link-container:hover {
        @apply mix-blend-screen;
    }

    .link-logo {
        @apply absolute block w-auto h-8 left-2 object-contain rounded-full;
        object-position: initial;
    }

    #links {
        @apply flex flex-wrap flex-col relative justify-center items-center;
    }
}