* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400%;
  -webkit-animation: gradient-shift 5s ease alternate infinite;
          animation: gradient-shift 5s ease alternate infinite;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt-0 {
  margin-top: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}


@media only screen and (max-width: 767px) {
    h1 {
      font-size: 112px;
    }
}

@-webkit-keyframes gradient-shift {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.loading::after {
  display: inline-block;
  animation: dots steps(1,end) 4s infinite;
  content: '';
}

@keyframes dots {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}